services:
    db:
        image: postgres:16
        hostname: db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            POSTGRES_DB: pagila
        ports:
            - "5432:5432"
        volumes:
            - ./pagila/pagila-schema.sql:/docker-entrypoint-initdb.d/01-pagila-schema.sql
            - ./pagila/pagila-data.sql:/docker-entrypoint-initdb.d/02-pagila-data.sql

    pgadmin:
        image: dpage/pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@admin.com
            PGADMIN_DEFAULT_PASSWORD: root
        ports:
            - "8080:80"
        depends_on:
            - db
